@import "../../theme/variables.scss";

.site-contact {
  .form-group {
    margin-bottom: 2rem;
  }

  .form-control {
    background: transparent;
    border-radius: 0;
    border-color: $white;

    &:focus {
      box-shadow: none;
    }
  }

  .invalid-feedback {
    font-size: $font-size-medium;
    color: $primary-color;
  }

  .contact-details {
    text-align: center;

    @media (max-width: 991px) {
      margin-top: 3rem;
    }
  }

  ul {
    list-style: none;

    @media (max-width: 768px) {
      margin-top: 3rem;
      padding-left: 0;
    }

    li {
      padding: 30px;
    }

    i {
      font-size: 4rem;
      margin-bottom: 1rem;
      color: $primary-color;
    }

    p {
      opacity: 0.7;
    }
  }
}
