@import "../../theme/variables";
@import "../../theme/font.mixin.scss";

.site-skills {
  p {
    line-height: 2;
    letter-spacing: 1px;
    @include fontSize(14px);
  }

  .button-section {
    @media (max-width: 568px) {
      display: inline-grid;
    }
  }

  .timeline-item {
    display: flex;
    margin-bottom: 3.5rem;
    align-items: center;

    @media (max-width: 768px) {
      margin-bottom: 2.5rem;
    }

    .timeline-bullet {
      display: inline-block;
      transition: 0.3s;
      background: $primary-color;
      @include fontSize(12px);
      text-align: center;
      position: absolute;
      height: 55px;
      width: 55px;
      border-radius: 50%;
      font-weight: 700;
      padding: 0.5rem 0;
      color: $white;

      &:after {
        content: "";
        position: absolute;
        border: 0.5px solid;
        height: 7rem;
        top: 55px;
        left: 25px;
        color: $primary-color;
      }
    }

    &:last-child {
      .timeline-bullet {
        &::after {
          content: none;
        }
      }
    }

    .timeline-content {
      margin-left: 5rem;

      @media (max-width: 736px) {
        margin-left: 0;
      }

      p {
        line-height: unset;
      }
    }

    .timeline-title {
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .timeline-subtitle {
      margin-bottom: 1rem;
    }

    .timeline-duration {
      background: $primary-color;
      width: 160px;
      padding: 6px 12px;
      border-radius: 18px;
      margin-bottom: 10px;
      @include fontSize(14px);
      font-weight: 700;
      text-align: center;
      color: $white;
    }
  }

  .interests {
    i {
      @include fontSize(30px);
      color: $primary-color;
    }
  }

  .shape-1 {
    position: absolute;
    opacity: 0.2;
  }

  .skills-wrapper {
    margin-top: 5rem;
  }

  .skill-content {
    text-align: center;
    border: 1px solid #404040;
    border-radius: 5px;

    @media (max-width: 768px) {
      margin-bottom: 8rem;
    }

    site-progress-circle {
      display: block;
      margin: -90px auto 0;
    }

    .skill-value {
      padding-top: 55px;
    }

    .skill-body {
      padding: 25px 20px 25px;

      ul {
        margin: 0;
        padding: 2rem;
        list-style-type: none;
        border: 1px solid #404040;
        border-radius: 5px;
      }

      li {
        line-height: 34px;
      }

      i {
        color: $primary-color;
      }
    }

    h2 {
      @include fontSize(50px);

      span {
        @include fontSize(25px);
      }
    }
  }
}

site-button:first-child {
  margin-right: 2.5rem;

  @media (max-width: 568px) {
    padding-bottom: 40px;
  }
}
