<div class="site-sidenav" [ngClass]="{ open: isOpen }">
  <div class="handle" (click)="openMenu($event)">
    <i class="fa fa-cog fa-spin"></i>
  </div>
  <div class="nav-body" (click)="$event.stopPropagation()">
    <ul>
      <li class="nav-item" [ngClass]="{ active: activatedRouteIndex === 0 }">
        <a
          class="nav-link"
          [routerLink]="['/home']"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa fa-home"></i>Home
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item" [ngClass]="{ active: activatedRouteIndex === 1 }">
        <a
          class="nav-link"
          [routerLink]="['/skills']"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa fa-tasks"></i>Resume</a
        >
        <div class="triangle"></div>
      </li>
      <li class="nav-item" [ngClass]="{ active: activatedRouteIndex === 2 }">
        <a
          class="nav-link"
          [routerLink]="['/projects']"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa fa-puzzle-piece"></i>Portfolio</a
        >
        <div class="triangle"></div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-comments"></i>Blog</a>
      </li> -->
      <!-- <li class="nav-item" [ngClass]="{active:activatedRouteIndex===4}">
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="is-active"
           [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-phone"></i>Contact</a>
        <div class="triangle"></div>
      </li> -->
    </ul>
  </div>
</div>
<!--<nav class="site-sidenav">-->
<!--  <div class="side-menu">-->
<!--    <a id="facebook" href="https://www.facebook.com/achini.wijesingha/" target="_blank" title="facebook">-->
<!--      <i class="fa fa-facebook-f"></i>-->
<!--    </a>-->
<!--    <a id="instagram" href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a>-->
<!--    <a id="linkedin" href="https://www.linkedin.com/in/achini-wijesingha/" target="_blank" title="linkedin">-->
<!--      <i class="fa fa-linkedin"></i>-->
<!--    </a>-->
<!--    <a id="stackoverflow" href="https://stackoverflow.com/users/2226468/rose18" target="_blank" title="stackoverflow">-->
<!--      <i class="fa fa-stack-overflow"></i>-->
<!--    </a>-->
<!--    <a id="github" href="#" target="_blank" title="github"><i class="fa fa-github"></i></a>-->
<!--  </div>-->
<!--</nav>-->

<!--<nav class="menu-toggle">-->
<!--  <i class="d-block d-lg-none fa fa-bars" (click)="showToggleMenu=true"></i>-->
<!--  <ul class="menu" [ngClass]="{'side-menu-opened': showToggleMenu}">-->
<!--    <li class="text-right mb-0" (click)="showToggleMenu=false">-->
<!--      <i class="fa fa-close"></i></li>-->
<!--    <li>-->
<!--      <a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a [routerLink]="['/about']"><i class="fa fa-user"></i> About</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a [routerLink]="['/skills']"><i class="fa fa-book"></i> Resume</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a [routerLink]="['/projects']"><i class="fa fa-suitcase"></i> Projects</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a [routerLink]="['/blog']"><i class="fa fa-comments"></i> Blog</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a [routerLink]="['/contact']"><i class="fa fa-phone"></i> Contact</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
