@import "../../theme/variables.scss";
@import "../../theme/font.mixin.scss";

.overlay-img {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/images/gayan_charith.JPG");

  @media (max-width: 768px) {
    height: 685px;
  }

  @media (max-width: 568px) {
    height: 400px;
  }
}

// .color-triangle {
//   position: fixed;
//   height: 187%;
//   width: 100%;
//   transform: rotate(-140deg);
//   right: -100%;
//   top: -100%;
//   background: rgba($primary-color, 0.9);
// }

.color-triangle {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -87%;
  top: -50%;
  background: rgba($primary-color, 0.9);
  border-right: 5px solid $white;
}

.overlay {
  height: 100%;
  display: flex;
  line-height: 2;
  padding-top: 8rem;

  @media (max-width: 768px) {
    padding-top: 0;
  }

  &-footer {
    @media (max-width: 568px) {
      display: inline-grid;
    }
  }
}

site-button:first-child {
  margin-right: 2.5rem;

  @media (max-width: 568px) {
    padding-bottom: 40px;
  }
}


