@import "../../theme/font.mixin.scss";
@import "../../theme/variables.scss";

.navbar-container {
  position: fixed;
  z-index: 1;
  width: 100%;

  &.dark-bg {
    background-color: $black;
  }
}

.navbar {
  padding: 1.5rem;
}

.navbar-brand {
  letter-spacing: 3px;
}

.navbar-nav {
  @media (max-width: 991px) {
    text-align: center;
  }
}

.nav-item {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: 991px) {
    display: block;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  i {
    margin-right: 5px;
  }

  .is-active {
    color: $primary-color !important;
  }
}

.nav-link {
  color: $white !important;
}
